{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Schedule | Ahmad Fauzan Amirul Isnain</title>
	{% endblock heading %}
</head>
</style>
<body>
{% block content %}
	<div class ="main main-form">
	<div class ="form-container">
    	<form method="POST" action="{% url 'schedule:newschedule' %}">
    		{% csrf_token %}
	    		{% for data in ScheduleForm %}
					<div class="form-group row">
					  	<label class="col-2 col-form-label">{{data.label}}</label>
					  	<div class="col-10">
					    	{{data}}
					    	{% if data.errors %}
					    		{{data.errors}}
					    	{% endif %}
					  	</div>
					</div>
				{% endfor %}
        	<div class="form-group">
				<button type="submit" class="save btn btn-primary">Save</button>
			</div>
   		</form>
   	</div>
	</div>
{% endblock content %}
</body>
</html>