{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Profile | Ahmad Fauzan Amirul Isnain</title>
	{% endblock heading %}
</head>
</style>
<body>
{% block content %}
	<div class ="main">
		<div class="container container-homepage-1">
			<div class="panel-group">
				{% if schedule %}
					{% for data in schedule %}
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-custom zero-margin-top border border-dark">
								<h1><a name="Experience">{{data.title}}</a></h1>
							</div>
							<div class="panel-body panel-body-custom border border-dark">
								<div class="row block content">
									<div class="inline content-word">
										<p>{{data.day}}, {{data.date}}</p>
										<p>{{data.start_time}} - {{data.end_time}}</p>
										<p>Event will be held at {{data.place}}</p>
										<p>Category : {{data.category}}</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="panel panel-default">
						<div class="panel-heading panel-heading-custom zero-margin-top border border-dark">
							<h1><a name="Experience">No Event</a></h1>
						</div>
						<div class="panel-body panel-body-custom border border-dark">
							<div class="row block content">
								<div class="inline content-word">
									<p>Enjoy your free time :D</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				<a href="{% url 'schedule:addschedule' %}" class="btn btn-success btn-custom">Add Schedule</a>
				<a href="{% url 'schedule:resetschedule' %}" class="btn btn-danger btn-custom">Reset Schedule</a>
			</div>
		</div>
		<div class="container container-homepage-2">
			<div class="panel-group">
				{% if schedule %}
					{% for data in schedule %}
						<div class="panel panel-default">
							<div class="panel-heading panel-heading-custom border border-dark">
								<h1><a name="Experience2">{{data.title}}</a></h1>
							</div>
							<div class="panel-body panel-body-custom border border-dark">
								<div class="row block content">
									<div class="inline content-word">
										<p>{{data.day}}, {{data.date}}</p>
										<p>{{data.start_time}} - {{data.end_time}}</p>
										<p>Event will be held at {{data.place}}</p>
										<p>Category : {{data.category}}</p>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<div class="panel panel-default">
						<div class="panel-heading panel-heading-custom border border-dark">
							<h1><a name="Experience">No Event</a></h1>
						</div>
						<div class="panel-body panel-body-custom border border-dark">
							<div class="row block content">
								<div class="inline content-word">
									<p>Enjoy your free time :D</p>
								</div>
							</div>
						</div>
					</div>
				{% endif %}
				<a href="{% url 'schedule:addschedule' %}" class="btn btn-success btn-custom">Add Schedule</a>
				<a href="{% url 'schedule:resetschedule' %}" class="btn btn-danger btn-custom">Reset Schedule</a>
			</div>
		</div>
	</div>
{% endblock content %}
</body>
</html>