{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Gallery | Ahmad Fauzan Amirul Isnain</title>
	{% endblock heading %}
</head>
</style>
<body>
{% block content %}
	<div class ="main">
		<div class="container">
			<div class="panel-group">
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom zero-margin-top border border-dark">
						<h1><a name="DDP0">DDP0</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark ">
						<div class="gallery">
							<img src="{% static 'img/ddp0-1.png' %}">
							<img src="{% static 'img/ddp0-2.png' %}">
							<img src="{% static 'img/ddp0-3.png' %}">
							<img src="{% static 'img/ddp0-4.png' %}">
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Padus-Wisuda">Padus Wisuda</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="gallery">
							<img src="{% static 'img/pw-1.png' %}">
							<img src="{% static 'img/pw-2.png' %}">
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Hari-Terakhir-SMA">Hari Terakhir SMA</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="gallery">
							<img src="{% static 'img/hts-1.png' %}">
							<img src="{% static 'img/hts-2.png' %}">
							<img src="{% static 'img/hts-3.png' %}">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
</body>
</html>