{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Form | Ahmad Fauzan Amirul Isnain</title>
	{% endblock heading %}
	
</head>
</style>
<body>
{% block content %}
	<div class ="main main-form">
		<div class="form-container">
			<div class="form-group row">
			  	<label for="name-input" class="col-2 col-form-label">Nama</label>
			  	<div class="col-10">
			    	<input class="form-control" type="text" placeholder="Ahmad Fauzan Amirul Isnain" id="name-input" required>
			  	</div>
			</div>
			<div class="form-group row">
			  	<label for="tanggal-lahir-input" class="col-2 col-form-label">Tanggal Lahir</label>
			  	<div class="col-10">
			    	<input class="form-control" type="date" placeholder="2002-07-17" id="tanggal-lahir-input" required>
			  	</div>
			</div>
			<div class="form-group row">
			  	<label for="email-input" class="col-2 col-form-label">Email</label>
			  	<div class="col-10">
			    	<input class="form-control" type="email" placeholder="amirul.isnain@gmail.com" id="email-input" required>
			  	</div>
			</div>
			<div class="form-group row">
			  	<label for="username-input" class="col-2 col-form-label">Username</label>
			  	<div class="col-10">
			    	<input class="form-control" type="text" placeholder="amirul_isnain458" id="username-input"required>
			  	</div>
			</div>
			<div class="form-group row">
			  	<label for="password-input" class="col-2 col-form-label">Password</label>
			  	<div class="col-10">
			    	<input class="form-control" type="password" placeholder="Enter your password" id="password-input" required>
			  	</div>
			</div>
			<div class="form-group row">
			  	<label for="confirm-password" class="col-2 col-form-label">Confirm Password</label>
			  	<div class="col-10">
			    	<input class="form-control" type="password" placeholder="Confirm your password" id="confirm-password" data-match="#password-input" data-match-error="Password does not match" required>
			  	</div>
			</div>
			<div class="form-group">
	    		<button type="submit" class="btn btn-primary">Submit</button>
	  		</div>
	  	</div>
	</div>
{% endblock content %}
</body>
</html>