{% extends "base.html" %}

<!DOCTYPE html>
<html>
<head>
	{% load static %}
	{% block heading %}
	<title>Profile | Ahmad Fauzan Amirul Isnain</title>
	{% endblock heading %}
</head>
</style>
<body>
{% block content %}
	<div class ="main">
		<div class="container container-homepage-1">
			<div class="panel-group">
				<div class="panel panel-default border border-dark header">
					<div class="panel-heading">
						<a name="header"><img class="img-responsive" id="header-img" src="{% static 'img/header.png' %}"></a>
						<img class="img-responsive" id="profile_photo" src="{% static 'img/profile_photo.jpg' %}">
					</div>
					<div class="panel-body">
						<div class="container">
							<div class="row header-versi-satu">
								<div class="col-8">
									<h1>Ahmad Fauzan Amirul Isnain</h1>
									<h2>Student at Universitas Indonesia</h2>
								</div>
								<div class="col-4 header-margin-bottom">
									<h2>Contact</h2>
									<div class="row block">
										<img class="inline" src="{% static 'img/email.png' %}">
										<p class="inline">ahmad.fauzan4580@gmail.com</p>
									</div>
									<div class="row block">
										<img class="inline" src="{% static 'img/call.png' %}">
										<p class="inline">087775639862</p>
									</div>
								</div>
							</div>
							<div class="row header-versi-dua">
								<div class="col-12">
									<h1>Ahmad Fauzan Amirul Isnain</h1>
									<h2>Student at Universitas Indonesia</h2>
								</div>
								<div class="col-12 auto-margin">
									<div class="row block auto-margin">
										<img class="inline" src="{% static 'img/email.png' %}">
										<p class="inline">ahmad.fauzan4580@gmail.com</p>
									</div>
									<div class="row block auto-margin">
										<img class="inline" src="{% static 'img/call.png' %}">
										<p class="inline">087775639862</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Experience">Experience</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img src="{% static 'img/compfest.png' %}">
							<div class="inline content-word">
								<p>Staff of Equipment and Security</p>
								<p>Compfest X</p>
								<p>Feb, 2018 - Present</p>
							</div>
						</div>
						<div class="row block content">
							<img src="{% static 'img/fuki.png' %}">
							<div class="inline content-word">
								<p>Staff of Muslim Development Center</p>
								<p>Forum Ukhuwah dan Kajian Islam Fasilkom UI</p>
								<p>Feb, 2018 - Present</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Education">Education</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img src="{% static 'img/UI.png' %}">
							<div class="inline content-word"/>
								<p>Universitas Indonesia</p>
								<p>Bachelor’s  degree, Computer Science</p>
								<p>2017 - Present</p>
							</div>
						</div>
						<div class="row block content">
							<img src="{% static 'img/smanda.png' %}"/>
							<div class="inline content-word">
								<p>SMA Negeri 2 Bogor</p>
								<p>2014 - 2017</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Skills">Skills</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img src="{% static 'img/java.png' %}">
							<div class="inline content-word">
								<p>Java</p>
								<p>Object Oriented Programming</p>
							</div>
						</div>
						<div class="row block content">
							<img src="{% static 'img/python.png' %}">
							<div class="inline content-word">
								<p>Python</p>
								<p>Procedural Programming</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Accomplishments">Accomplishments</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img src="{% static 'img/fastfingers.png' %}">
							<div class="inline content-word">
								<p>98 WPM English Typing Speed Test</p>
								<p>10FastFingers</p>
								<p>2018</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Interests">Interests</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img src="{% static 'img/se.png' %}">
							<div class="inline content-word">
								<p>Software Engineering</p>
								<p>Apply principles and techniques of computer science to<br/>
								software applications for computer</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container container-homepage-2">
						<div class="panel-group">
				<div class="panel panel-default border border-dark header">
					<div class="panel-heading">
						<a name="header2"><img class="img-responsive" id="header-img" src="{% static 'img/header.png' %}"></a>
						<img class="img-responsive" id="profile_photo" src="{% static 'img/profile_photo.jpg' %}">
					</div>
					<div class="panel-body">
						<div class="container">
							<div class="row header-versi-satu">
								<div class="col-8">
									<h1>Ahmad Fauzan Amirul Isnain</h1>
									<h2>Student at Universitas Indonesia</h2>
								</div>
								<div class="col-4 header-margin-bottom">
									<h2>Contact</h2>
									<div class="row block">
										<img class="inline" src="{% static 'img/email.png' %}">
										<p class="inline">ahmad.fauzan4580@gmail.com</p>
									</div>
									<div class="row block">
										<img class="inline" src="{% static 'img/call.png' %}">
										<p class="inline">087775639862</p>
									</div>
								</div>
							</div>
							<div class="row header-versi-dua">
								<div class="col-12">
									<h1>Ahmad Fauzan Amirul Isnain</h1>
									<h2>Student at Universitas Indonesia</h2>
								</div>
								<div class="col-12 auto-margin">
									<div class="row block auto-margin">
										<img class="inline" src="{% static 'img/email.png' %}">
										<p class="inline">ahmad.fauzan4580@gmail.com</p>
									</div>
									<div class="row block auto-margin">
										<img class="inline" src="{% static 'img/call.png' %}">
										<p class="inline">087775639862</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Experience2">Experience</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/compfest.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>Staff of Equipment and Security</p>
								<p>Compfest X</p>
								<p>Feb, 2018 - Present</p>
							</div>
						</div>
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/fuki.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>Staff of Muslim Development Center</p>
								<p>Forum Ukhuwah dan Kajian Islam Fasilkom UI</p>
								<p>Feb, 2018 - Present</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Education2">Education</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/UI.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word"/>
								<p>Universitas Indonesia</p>
								<p>Bachelor’s  degree, Computer Science</p>
								<p>2017 - Present</p>
							</div>
						</div>
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/smanda.png' %}"/>
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>SMA Negeri 2 Bogor</p>
								<p>2014 - 2017</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Skills2">Skills</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/java.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>Java</p>
								<p>Object Oriented Programming</p>
							</div>
						</div>
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/python.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>Python</p>
								<p>Procedural Programming</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Accomplishments2">Accomplishments</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/fastfingers.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>98 WPM English Typing Speed Test</p>
								<p>10FastFingers</p>
								<p>2018</p>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading panel-heading-custom border border-dark">
						<h1><a name="Interests2">Interests</a></h1>
					</div>
					<div class="panel-body panel-body-custom border border-dark">
						<div class="row block content">
							<img class="auto-margin" src="{% static 'img/se.png' %}">
						</div>
						<div class="row block content">
							<div class="inline content-word">
								<p>Software Engineering</p>
								<p>Apply principles and techniques of computer science to<br/>
								software applications for computer</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
</body>
</html>